<!-- ============================================================== -->
<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <!-- <ul id="sidebarnav">
                <li> <a class="waves-effect waves-dark"  routerLink="/dashboard/register" >
                    <i class="mdi mdi-gauge"></i>
                    <span class="hide-menu" >REGISTRAR </span>
                    </a>
                </li>
            </ul> -->
        </nav>
    </div>
</aside>